<div id="<%= dom_id time_period %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= time_period.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Begins:</strong>
    <%= time_period.begins %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ends:</strong>
    <%= time_period.ends %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= time_period.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this time period", time_period, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this time period', edit_time_period_path(time_period), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
