<div id="<%= dom_id paycheck %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Employee:</strong>
    <%= paycheck.employee_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Week ending:</strong>
    <%= paycheck.week_ending %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gross:</strong>
    <%= paycheck.gross %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reconciled:</strong>
    <%= paycheck.reconciled %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= paycheck.notes %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this paycheck", paycheck, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this paycheck', edit_paycheck_path(paycheck), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
