<%- title 'List Employees' %>
<div class="container mx-auto block">
	<table class="table-auto w-full">
	  <thead>
	    <tr class='bg-teal-100'>
				<th class='p-3 text-left' colspan="5">
          <%= form_tag(request.path, method: "get", class: "inline", data: {controller: 'employees'}) do |f| %>
						<%= select_tag :status, options_for_select({'Active Employees' => 'active','Inactive Employees' => 'inactive','All Employees' => 'all'}, selected: params.permit(:status)[:status]), class: "text-sm", data: {employees_target: 'status', action: 'employees#filter_status_update'}%>
          <% end %>
          <%= form_tag(request.path, method: "get", class: "inline") do %>
            <%= text_field_tag(:search_name, params[:search_name], class: "text-sm", placeholder: "Search...") %>
          <% end %>
				</th>
			</tr>
	    <tr class='bg-teal-100'>
	      <th class='p-3 w-1/5'><%= sortable_link_for :last_name, text: "Last Name", type: :alpha %></th>
	      <th class='p-3 w-1/5'><%= sortable_link_for :first_name, text: "First Name", type: :alpha %></th>
	      <th class='p-3 w-1/5'><%= sortable_link_for :payroll_active, text: "Payroll Status" %></th>
	      <th class='p-3 w-1/5'><%= sortable_link_for :classification %></th>
	      <th class='p-3 w-1/5 text-right'><%= link_to 'New Employee', new_employee_path, class: 'bg-teal-600 text-gray-100 p-2 mr-2 hover:bg-teal-700 rounded-xl'%></th>
	    </tr>
	  </thead>
	  <tbody>
			<% @employees.each do |employee| %>
	    <tr class='bg-gray-100 hover:bg-gray-200'>
	      <td class='p-1.5'><%= employee.last_name %></td>
	      <td class='p-1.5'><%= employee.first_name %></td>
	      <td class='p-1.5 text-center'>
					<button class="<%= employee_payroll_active_color_code(employee)%> w-1/2"><%= employee.payroll_active? ? "Active" : "Inactive" %></button>
				</td>
	      <td class='p-1.5 text-center'>
					<button class="<%= employee_classification_color_code(employee) %> w-1/2"><%= employee.classification %></button>
				</td>
	      <td class='p-1.5 text-right'>
	      	<%= link_to 'Show', employee_path(employee), class: 'bg-green-200 p-1 mr-1 hover:bg-green-300 rounded-md'%>
	      	<%= link_to 'Edit', edit_employee_path(employee), class: 'bg-blue-200 p-1 mr-1 hover:bg-blue-300 rounded-md'%>
	      	<%= link_to 'Destroy', employee_path(employee), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: 'bg-red-200 p-1 mr-1 hover:bg-red-300 rounded-md'%>
				</td>
	    </tr>
			<% end %>
	  </tbody>
	</table>

<div class="flex mt-3 items-center justify-center space-x-4 w-full">
  <%== pagy_nav(@pagy) %>
</div>
<p class="text-center mt-3 text-gray-500"><%== pagy_info @pagy %></p>

</div>

