<%- title 'Sign Up' %>
<div class="w-full max-w-md">
	<p class='text-2xl font-bold'>Sign Up</p>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}) do |f| %>
	  <div class="mb-4">
	    <%= f.label :email, "E-Mail Address", class: 'block text-gray-700 text-sm font-bold mb-2' %>
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
			<% resource.errors.full_messages_for(:email).each do |error_message| %>
			  <p class="text-red-500 text-xs italic"><%= error_message %></p>
			<% end %>
	  </div>

	  <div class="mb-4">
	    <%= f.label :password, class: 'block text-gray-700 text-sm font-bold mb-2' %>
	    <%= f.password_field :password, autocomplete: "new-password", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
			<% resource.errors.full_messages_for(:password).each do |error_message| %>
			  <p class="text-red-500 text-xs italic"><%= error_message %></p>
			<% end %>
	  </div>

	  <div class="mb-4">
	    <%= f.label :password_confirmation, class: 'block text-gray-700 text-sm font-bold mb-2' %>
	    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
			<% resource.errors.full_messages_for(:password_confirmation).each do |error_message| %>
			  <p class="text-red-500 text-xs italic"><%= error_message %></p>
			<% end %>
	  </div>

	  <%= f.button "Sign Up", type: 'submit', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
	<% end %>
</div>
