<!DOCTYPE html>
<html>
  <head>
		<title>MyApp - <%= content_for?(:title) ? content_for(:title) : "Default Title" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-gray-500'>

		<nav class="flex items-center justify-between flex-wrap bg-emerald-500 p-6">
		  <div class="flex items-center flex-shrink-0 text-white mr-6">
		    <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
				<%= link_to 'MyApp', root_path, class: 'font-semibold text-xl tracking-tight' %>
		  </div>
		  <div class="block lg:hidden">
		    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-emerald-400 hover:text-white hover:border-white">
		      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
		    </button>
		  </div>
		  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
		    <div class="lg:flex-grow">
					<%= link_to 'Home', root_path, :class => "block mt-4 lg:inline-block lg:mt-0 #{controller_name == 'home' ? 'text-emerald-100' : 'text-emerald-300'} hover:text-white mr-4" %>
					<%= link_to 'Hours', hours_path, :class => "block mt-4 lg:inline-block lg:mt-0 #{controller_name == 'home' ? 'text-emerald-100' : 'text-emerald-300'} hover:text-white mr-4" %>
					
					<div class="relative inline-block text-left" data-controller="menu">
					  <div>
					    <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white ring-1 hover:bg-blue-600" id="menu-button" aria-expanded="true" aria-haspopup="true" data-action="menu#toggleEmployeesMenu click@window->menu#hideEmployeesMenu" data-menu-target="employeesMenuButton">
					      Employees
					      <svg class="-mr-1 h-5 w-5 text-gray-100" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
					      </svg>
					    </button>
					  </div>

					  <div class="absolute hidden right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" data-menu-target="employeesMenuDropdown">
					    <div class="py-1" role="none">
					      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
								<%= link_to 'All Employees', employees_path + '?status=all', :class => 'text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm' %>
					    </div>
					    <div class="py-1" role="none">
								<%= link_to 'Active Employees', employees_path + '?status=active', :class => 'text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm' %>
								<%= link_to 'Inactive Employees', employees_path + '?status=inactive', :class => 'text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm' %>
					    </div>
					  </div>
					</div>

					<div class="relative inline-block text-left" data-controller="menu">
					  <div>
					    <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white ring-1 hover:bg-blue-600" id="menu-button" aria-expanded="true" aria-haspopup="true" data-action="menu#toggleRates click@window->menu#hideRates" data-menu-target="ratesButton">
					      Configuration
					      <svg class="-mr-1 h-5 w-5 text-gray-100" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
					      </svg>
					    </button>
					  </div>

					  <div class="absolute hidden right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" data-menu-target="ratesDropdown">
					    <div class="py-1" role="none">
					      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
								<%= link_to 'Rates', rates_path, :class => 'text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm' %>
								<%= link_to 'Rate Amounts', rate_amounts_path, :class => 'text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm' %>
								<%= link_to 'Time Periods', time_periods_path, :class => 'text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm' %>
					    </div>
					    <div class="py-1" role="none">
								<%= link_to 'Rate Classifications', rate_classifications_path, :class => 'text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm' %>
								<%= link_to 'Employee Classifications', employee_classifications_path, :class => 'text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm' %>
					    </div>
					  </div>
					</div>

					<div class="relative inline-block text-left" data-controller="menu">
					  <div>
					    <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white ring-1 hover:bg-blue-600" id="menu-button" aria-expanded="true" aria-haspopup="true" data-action="menu#togglePayrollMenu click@window->menu#hidePayrollMenu" data-menu-target="payrollButton">
					      Payroll
					      <svg class="-mr-1 h-5 w-5 text-gray-100" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
					      </svg>
					    </button>
					  </div>

					  <div class="absolute hidden right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" data-menu-target="payrollDropdown">
					    <div class="py-1" role="none">
					      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
								<%= link_to 'Payrolls', payrolls_path, :class => 'text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm' %>
								<%= link_to 'Payroll Items', payroll_items_path, :class => 'text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm' %>
								<%= link_to 'Paychecks', paychecks_path, :class => 'text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm' %>
					    </div>
					  </div>
					</div>


		    </div>
		    <div>
					<% if user_signed_in? %>
					<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, :class => 'block mt-4 lg:inline-block lg:mt-0 text-emerald-200 hover:text-white mr-4' %>
					<% else %>
					<%= link_to 'Sign In', new_user_session_path, :method => :get, :class => 'block mt-4 lg:inline-block lg:mt-0 text-emerald-200 hover:text-white mr-4' %>
					<%= link_to 'Register', new_user_registration_path, :method => :get, :class => 'block mt-4 lg:inline-block lg:mt-0 text-emerald-200 hover:text-white mr-4' %>
					<% end %>
		    </div>
		  </div>
		</nav>

		<% if alert %>
		<div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md" role="alert">
		  <div class="flex">
		    <div class="py-1"><svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
		    <div>
		      <p class="font-bold"><%= alert %></p>
		    </div>
		  </div>
		</div>
		<% end %>

		<% if notice %>
		<div class="bg-emerald-100 border-t-4 border-emerald-500 rounded-b text-emerald-900 px-4 py-3 shadow-md" role="alert">
		  <div class="flex">
		    <div class="py-1"><svg class="fill-current h-6 w-6 text-emerald-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
		    <div>
		      <p class="font-bold"><%= notice %></p>
		    </div>
		  </div>
		</div>
		<% end %>




		<div class="bg-white px-1 py-6">
	    <main class="container mx-auto">
	      <%= yield %>
	    </main>
		</div>
		
		<footer class="mx-auto mt-6 px-28 py-6 bg-gray-500 text-gray-100">
			Footer
		</footer>


 
  </body>
</html>
